<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class= "header">
            <img src="../static/logo.png" alt="MuseByte" class="logo" >
            <h1>MuseByte</h1> 
        </div>
        <h2> Thank You!</h2>
        <h3> Thank you for your feedback. We really appreciate it!</h3>
    </div>
    
</body>
</html>